body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.main {
	background: url(img/bg.jpg) center center/cover;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.game-board {
	position: relative;
	background: url(img/game-bg-pattern.png);
	width: 60%;
	margin: auto;
}

.game-table {
	border-collapse: collapse;
}

.game-question {
	display: table;
	position: relative;
	font-size: 28px;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 410px;
	padding: 0 40px;
	box-sizing: border-box;
	line-height: 1.4em;
}
.game-question > p {
	display: table-cell;
	vertical-align: middle;
}
.game-question > p .smile {
	display: block;
	font-size: 70px;
	margin: 40px;
}
.cat {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 10;
	cursor: pointer;
}
.cat.cat-1 {
	display: block;
	background: url('cat1.jpg') top center/cover;
}
.cat.cat-2 {
	display: block;
	background: url('cat2.jpg') top center/cover;
}
.cat.cat-3 {
	display: block;
	background: url('cat3.jpg') top center/cover;
}

.hide {
	display: none;
}

.row .cell {
	border-bottom: 1px solid #d3dcff;
}
.row:last-of-type .cell {
	border-bottom: none;
}

.cell {
	text-align: center;
	vertical-align: middle;
	height: 100px;
	border-right: 1px solid #d3dcff;
	box-sizing: border-box;
}
.cell:last-of-type {
	border-right: none;
}


.category {
	width: 25%;
	font-size: 25px;
	letter-spacing: 0.9px;
	line-height: 1.4em;
	color: #fff;
}
.category.active {
	animation: blinking-category 0.2s infinite;
}
@keyframes blinking-category {
	0% {
		background-color: transparent;
		color: #fff;
	}
	50% {
		background-color: #ffdf46;
		color: #000;
	}
	100% {
		background-color: transparent;
		color: #fff;
	}
}

a, a:visited {
	color: white;
	text-decoration: none;
}

.question {
	width: 15%;
	color: #ffe642;
	font-size: 30px;
	cursor: pointer;
}
.question.active {
	animation: blinking-question 0.2s infinite;
}
.question.finished {
	color: transparent;
	border-color: #d3dcff;
}
@keyframes blinking-question {
	0% {
		background-color: transparent;
		color: #ffe642;
	}
	50% {
		background-color: #ffdf46;
		color: #000;
	}
	100% {
		background-color: transparent;
		color: #ffe642;
	}
}

.final {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 666;
	cursor: pointer;
	background: url('final.jpg') top center/cover;
}
.final-cell {
	text-align: center;
	margin: 20px 0;
	color: #ffdf46;
	letter-spacing: 1.4px;
	font-size: 60px;
	cursor: pointer;
}